@font-face {
    font-family: "RobotoRegular";
    src: url("fonts/RobotoRegular/RobotoRegular.eot");
    src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("fonts/RobotoLight/RobotoLight.eot");
    src: url("fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("fonts/RobotoMedium/RobotoMedium.eot");
    src: url("fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("fonts/RobotoBold/RobotoBold.eot");
    src: url("fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
  -webkit-overflow-scrolling: touch; 
  min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
   }

body {
   font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;

min-width: 750px;
min-height: 100%;
margin: 0 auto;
position: relative;
overflow-x: auto;
overflow-y: scroll;


}

img{
	display: block;
    margin-left: auto;
    margin-right: auto;
   
    padding-bottom: 10px;
    padding-top: 10px;
}

li {
    list-style-type: none; 
    margin-left: 0;
    padding-left: 0; 
   }

   ul {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; 
    padding-top:0;
   }

 a {
    text-decoration: none;
     color: #557478;
   } 

a:hover { 
    color: #8BB9C5;
   } 
   
   p {
    margin: 0;
    padding: 0;
   }

.block_first {
    top: 0;
    width: 100%;
 overflow: hidden;
    margin-bottom: 0px;
    
    border-bottom: 1px solid rgba(216, 216, 216, 0.44);
  
}



.block_first .block_first_logo {
    margin: 10px auto;
    width: 300px;
    height: 207px;
    background: url(img/logo.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
cursor: pointer;
}

.block_first .block_first_text {
    margin: 20px auto;
    width: 100%;
    overflow: hidden;
    font-size: 70px;
    text-transform: uppercase;
    color: rgb(90, 132, 93);
    text-align: center;
font-family:  "RobotoBold";
}

.block_first_text_second {
      margin: 10px auto;
    width: 100%;
    overflow: hidden;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:  "RobotoMedium";
}

.block_first_text_third {
    
    margin: 10px auto;
    width: 100%;
    overflow: hidden;
    font-size: 25px;
   color: #4f7f8b;
    text-align: center;
    font-family:  "RobotoRegular";
}


.block_first_text_content {
     margin: 20px auto;
    width: 80%;
    overflow: hidden;
    font-size: 35px;
   font-family:  "RobotoLight";
    color: rgb(47, 47, 47);
    text-align: center;
}

.banner {
    float: left;
    width: 100%;
    height: 600px; 
        background: url(img/1.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
cursor: pointer;
    
}

.header {
    width: 100%;
overflow: hidden;
    top: 0px;
  
}


.banner_header_text {
    float: left;
 
    margin-left: 50px;
margin-top: 20px;
   width: 90%;
   overflow: hidden;
font-size: 45px;
  text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    font-family:  "RobotoLight";
}


.banner_header_text_second {
    float: left;
    margin-left: 50px;
margin-top: 20px;
   width: 90%;
   overflow: hidden;
font-size: 35px;
  text-align: left;
    color: #ffffff;
    
    font-family:  "RobotoLight";
}


.footer {
    margin-top: 25px;
    float: left;
    width: 100%;
    height: 130px;
 border-top: 1px solid rgba(211, 211, 211, 0.79);
}

.footer_container {
    
    width: 100%;
    margin: 0 auto;
  overflow: hidden;
}
.footer_container .footer_logo {
    width: 45%;
    margin-left: 30%;
    height: 240px;
cursor: pointer;
    float: left;
   
     background: url(img/logo.jpg) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
.footer_container .footer_text_people {
    float: left;
  margin: 5px auto;
    width: 100%;
overflow: hidden;
    text-align: center;
   
    
}

.footer_container .footer_text_people_link {
    float: left;
  margin-top: 5px;
    width: 100%;
overflow: hidden;
   
    
}



.footer_text_people_title {
    
     width: 100%;
    overflow: hidden;
  height: 60px;
    line-height: 60px;
float: left;
    font-size: 45px;
    color: #000000;
    font-family: "RobotoRegular";
}

.footer_text_people_name {
      width: 100%;
    overflow: hidden;
    line-height: 50px;
    font-size: 25px;
    color: #000000;
    font-family: "RobotoLight";
    cursor: pointer;
}

.footer_text_people_name:hover {
  color: rgb(90, 132, 93);
    cursor: pointer;
      -moz-transition: color 0.2s 0.2s ease;
-o-transition: color 0.2s 0.2s ease;
-webkit-transition:  color 0.2s 0.2s ease;
}


.footer_text_people_link_name {
      width: 100%;
    overflow: hidden;
    line-height: 30px;
    font-size: 20px;
    color: #000000;
    font-family: "RobotoBold";
    cursor: pointer;
    text-align: center;
}

.footer_text_people_link_name:hover {
  color: rgb(90, 132, 93);
    cursor: pointer;
      -moz-transition: color 0.2s 0.2s ease;
-o-transition: color 0.2s 0.2s ease;
-webkit-transition:  color 0.2s 0.2s ease;
}



.hide {
    display: none; 

}
.hide + label ~ div{
    display: none;
   
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px solid  rgb(90, 132, 93);;
    padding: 0;
     color: rgb(65, 65, 65);
    cursor: pointer;
    display: inline-block; 
    text-align: center;

     font-size: 26px;
    font-family: "RobotoRegular";
    
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: rgb(90, 132, 93);
    border-bottom: 0;
  
    
    
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    margin-top: 5px;
    background: rgba(114, 185, 119, 0.18);
    -moz-box-shadow: inset 3px 3px 10px rgba(125, 142, 143, 0.12);
    -webkit-box-shadow: inset 3px 3px 10px rgba(125, 142, 143, 0.12);
    box-shadow: inset 3px 3px 10px rgba(125, 142, 143, 0.12);
    padding: 10px; 
    font-size: 28px;
    font-family: "RobotoLight";
     text-align: left;
}

/* demo контейнер */
.demo {
   position: relative;
    margin-left: 9%;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 70%;
    overflow: hidden;
}


.content {
    position: relative;
    margin-left: 9%;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    width: 70%;
    overflow: hidden;
}
.content .content_text {
    
    font-size: 30px;
    font-family: "RobotoLight";
     text-align: left;
}



.wrapper {
    float: left;
	height: 380px;
    margin-left: 65px;
	margin-top: 10px;
    margin-bottom: 10px;
	position: relative;
	width: 600px;
 overflow: hidden;
}

.slider {
	background-color: #ffffff;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	
}



.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}

.slide1 { background: url(img/MAP1_mobile.png);}
.slide2  { background: url(img/MAP2_mobile.png);}
.slide3  { background: url(img/MAP3_mobile.png);}

.wrapper .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label:after {
	
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3)
{
	background: #ffffff;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.legenda {
    float: left;
    width: 100%;
     background: url(img/legenda.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.content_info_left {
    position: relative;
    float: left;
    width: 45%;
    overflow: hidden;
}
.content_info_right {
    position: relative;
     float: right;
    width: 40%;
     overflow: hidden;
}

.buttom {
position: relative;
    margin: 0 auto;
    width: 450px;
    height: 100px;
    background-color: rgb(76, 175, 83);
    border-radius: 10px; 
    cursor: pointer;
    border: 1px solid #9a9a9a;
}
.buttom .buttom_text {
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "RobotoBold";
    font-size: 30px;
}